###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=4a1d4a531d3efcdcc37ed333a012efa7
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL=mysql://db_user:db_password@127.0.0.1:3306/db_name?serverVersion=5.7
###< doctrine/doctrine-bundle ###

###> symfony/swiftmailer-bundle ###
MAILER_URL=smtp://localhost:1025
###< symfony/swiftmailer-bundle ###
