/* -------------------------- MAIN -------------------------- */

main, form div, #returnListProjectControllerContainer, .project_pictures-collection-actions, #project_date {
    display: flex;
}

main {
    height: calc(100vh - 100px);
    margin-top: 100px;
}

#container {
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 100px);
    margin: auto;
    overflow: hidden;
}

#scrollable {
    width: 100%;
    height: 100%;
    padding-right: 25px;
    overflow: auto;
}

header {
    position: fixed;
    width: calc(100% - 60px);
    margin: 0 30px;
}

/* -------------------------- FORM -------------------------- */

form {
    width: 30%;
    min-width: 300px;
    margin: auto;
    padding-bottom: 90px !important;
}

div h2 {
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0 40px 0;
}

form div, form p {
    margin-top: 30px;
}

form div {
    flex-direction: column;
    position: relative;
}

form div label {
    margin-bottom: 8px;
}

.newProjectInputs {
    border: none;
    background-color: rgb(250, 250, 250);
    padding: 10px 12px;
    width: 100%;
    box-sizing: border-box;
}

#project {
    margin: 0;
}

form button {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(51, 51, 51);
    transition: background-color 0.5s ease;
    color: white;
    cursor: pointer;
}

form button, form button:active, form button:focus, form button:hover {
    border: 1px solid rgba(20, 20, 20, 0.4);
}

form button:hover {
    background-color: rgb(65, 65, 65);
}

#returnListProjectControllerContainer {
    position: fixed;
    width: 15%;
    min-width: 260px;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: rgb(51, 51, 51);
    color: white;
}

#returnListProjectControllerContainer p {
    margin: auto;
    font-size: 1.1em;
}

#returnListProjectControllerContainer p a {
    transition: color 0.3s ease;
}

#returnListProjectControllerContainer p a:hover {
    color: rgb(230, 230, 230);
}

#project_date {
    margin-bottom: 35px;
}

#project_pictures div {
    margin: 0;
}

.picturesSelectors {
    display: block;
}

.project_pictures-collection-actions {
    margin-bottom: 25px !important;
    padding-bottom: 10px;
    flex-direction: row;
    justify-content: flex-end;
    border-bottom: 1px solid rgba(51, 51, 51, 0.1);
}

.project_pictures-collection-actions a {
    margin-left: 10px;
}

.project_pictures-collection-action {
    font-size: 1.1em;
}

.vich-file > input, .vich-file > input:before {
    height: 30px;
    line-height: 30px;
}

.vich-file > input::-webkit-file-upload-button {
    position: relative;
    visibility: hidden;
}

.vich-file > input::before {
    content: 'Select file';
    display: inline-block;
    background: rgb(80, 80, 80);
    color: white;
    border-radius: 2px;
    padding: 0 20px;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
}

form div ul {
    padding: 0;
    margin: -5px 0 5px;
}

form div ul li {
    font-size: 0.8em;
    color: red;
}

.vich-file > div {
    display: none;
}

.vich-file > a {
    position: relative;
    visibility: hidden;
    margin-top: 8px;
}

.vich-file > a:after {
    position: absolute;
    font-size: 0.9em;
    font-weight: bold;
    text-decoration: underline;
    visibility: visible;
    top: 0;
    left: 0;
    content: "Click here to see the picture";
}

#project_date_day {
    display: none;
}

#project_date {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
}

#project_date_month, #project_date_year {
    display: block;
    width: 45%;
}

#project_date_month, #project_date_year {
    padding: 6px 12px;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-width: 900px) {
    form {
        padding-bottom: 125px !important;
    }
}

@media (max-width: 500px) {
    header {
        margin: 0 25px;
        width: calc(100% - 50px);
    }
}

@media (max-width: 400px) {
    header {
        margin: 0 20px;
        width: calc(100% - 40px);
    }

    #scrollable {
        padding-right: 20px;
    }
}