/* -------------------------- MAIN -------------------------- */

main, #slider, #sliderDefault, #textHiddenContainer, footer, footer div {
    width: 100%;
    display: flex;
}

#sliderImgContainer, #sliderDefault, #textHiddenContainer p, .specialsChars, .specialsCharsFooter1, .specialsCharsFooter2 {
    position: relative;
}

header div {
    border-right: 1px solid rgba(40, 40, 40, 0.5);
}

/* -------------------------- SIDEBAR -------------------------- */

#sidebar {
    border-right: 1px solid rgba(40, 40, 40, 0.5);
    width: 35%;
    height: calc(100vh - 142px);
    box-sizing: border-box;
    overflow: hidden;
}

#sidebarContent {
    width: 100%;
    height: 100%;
    padding-right: 25px;
    overflow: auto;
}

.projects {
    margin-bottom: 20px;
}

h2 {
    margin: 0 35px 7px 0;
    font-family: "HelveticaNowDisplayBlack", "Arial", sans-serif;
    transition: color 0.42s ease, text-shadow 0.42s ease, transform 0.42s ease;
    letter-spacing: 1px;
    line-height: 1em;
    transform-origin: left;
}

.projects p {
    margin: 0;
}

.projects span {
    line-height: 1.4em;
}

/* -------------------------- SLIDER -------------------------- */

#slider {
    flex-direction: column;
    width: calc(65% - 30px);
    height: calc(100vh - 142px);
    margin-left: 30px;
}

#sliderContent {
    width: 100%;
    height: 100%;
}

#sliderProjectTitle {
    margin: 0;
    height: 60px;
    line-height: 30px;
}

#sliderImgContainer, #sliderDefault {
    margin: auto;
}

#sliderImgContainer {
    height: calc(100% - 87px);
    background-color: rgb(230, 230, 230);
}

#sliderDefault {
    height: calc(100% - 35px);
    overflow: hidden;
}

#drawToMakeAppear {
    z-index: 1;
    position: absolute;
    cursor: url("../../../img/bancoCursor.png") 16 16, pointer;
}

#textHiddenContainer {
    width: 100%;
    height: 100%;
    background-color: black;
}

#textHiddenContainer p {
    font-size: 3.2em;
    color: white;
    margin: auto;
}

#copyOfTextHidden {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    pointer-events: none;
}

.haveToDisapear {
    pointer-events: auto;
}

.x {
    color: black;
}

.sliderNav {
    width: 50%;
    height: 100%;
    z-index: 1;
}

#sliderNavLeft {
    cursor: url("../../../img/arrow_left.png") 16 16, pointer;
}

#sliderNavRight {
    cursor: url("../../../img/arrow_right.png") 16 16, pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.specialsChars {
    top: 2px;
}

.specialsChars img {
    height: auto;
}

.hand2 {
    width: 50px;
}

.victory {
    width: 30px;
}

.star, .write {
    width: 45px;
}

.mail {
    width: 38px;
}

.arrow {
    width: 40px;
}

/* -------------------------- FOOTER -------------------------- */

footer {
    position: fixed;
    flex-wrap: nowrap;
    overflow: hidden;
    bottom: 0;
    left: 0;
    width: calc(100% + 60px);
    height: 42px;
    color: white;
    background-color: rgb(2, 2, 2);
    white-space: nowrap;
    margin: 0 -30px;
}

footer div {
    margin: auto 0;
    animation: infiniteLeftSlide 28s linear infinite;
}

footer div p, .specialsCharsFooter1, .specialsCharsFooter2 {
    margin: auto 8px;
}

.specialsCharsFooter1 {
    top: 3px;
}

.specialsCharsFooter2 {
    top: 1px;
}

.head {
    width: 20px;
}

.hand {
    width: 28px;
}

/* -------------------------- ANIMATIONS -------------------------- */

@keyframes infiniteLeftSlide {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

@keyframes smaller {
    0% {
        width: 35%;
    }

    100% {
        width: 25%;
    }
}

@keyframes bigger {
    0% {
        width: calc(65% - 30px);
    }

    100% {
        width: calc(75% - 30px);
    }
}

@keyframes fontSizeReduce {
    0% {
        font-size: 100%;
    }

    100% {
        font-size: 75%;
    }
}

/* -------------------------- JAVASCRIPT CLASS -------------------------- */

.projectsNonSelected {
    font-size: 3.25em;
}

.projectSelected {
    color: white;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black,
    1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
}

.invisible {
    display: none !important;
    opacity: 0;
}

.notVisible {
    visibility: hidden;
}

.fadeIn {
    animation: fadeIn 0.5s ease forwards;
}

.fadeOut {
    animation: fadeOut 0.5s ease forwards;
}

.smaller {
    animation: smaller 0.5s ease forwards;
}

.bigger {
    animation: bigger 0.5s ease forwards;
}

.fontSizeReduce {
    animation: fontSizeReduce 0.5s ease forwards;
    animation-delay: 0s;
}

.titleMouseOver {
    transform: scale(1.1);
    color: white;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black,
    1px 0 0 black, 0 1px 0 black, -1px 0 0 black, 0 -1px 0 black;
    cursor: pointer;
}

/* -------------------------- RESPONSIVE -------------------------- */

@media (max-height: 700px) {
    main, #slider, #sidebar {
        min-height: 600px;
    }

    footer {
        position: relative;
    }
}

@media (max-width: 500px) {
    footer {
        width: calc(100% + 50px);
        margin: 0 -25px;
    }
}

@media (max-width: 400px) {
    footer {
        width: calc(100% + 40px);
        margin: 0 -20px;
    }
}