<div id="sidebar">
    <div id="sidebarContent">
        {% for project in projects %}
        <div class="projects">
            <h2 class="projectsNonSelected">{{ project.title | upper }}</h2>
            <p>
                <span>{{ project.category }}</span><br>
                <span>{{ project.date }}</span>
            </p>
        </div>
        {% else %}
        <div class="projects">
            No projects
        </div>
        {% endfor %}
    </div>
</div>