<section id="sidebar">
    <div id="sidebarScrollable">
        {% for project in projects %}
        <div class="projects">
            <h2 class="projectsNonSelected" data-projectId="{{ project.id }}">{{ project.title | upper }}</h2>
            <p>
                <span>[{{ project.category }}]</span><br>
                <span>[{{ project.date | date("Y") }}]</span>
            </p>
        </div>
        {% else %}
        <div class="projects">
            No projects to see :(
        </div>
    {% endfor %}
    </div>
</section>