<section id="slider">
    <div id="sliderContent">
        <p id="sliderProjectTitle" class="invisible"></p>

        <div id="sliderImgContainer" class="invisible">
            <div id="sliderScrollable"></div>
        </div>

        <div id="sliderDefault">
            <div id="sliderDefaultMobile">
                <p>
                    <img src="{{ asset("build/images/arrowTop_black.79f1f5d5.png") }}" alt="Project Select Indicator" /><br>
                    Select a project
                </p>

                <p>
                    Margaux. 25. Artistic<br>
                    director. Based in<br>
                    Lille, France. Creative.
                </p>
            </div>

            <canvas id="drawToMakeAppear">
            </canvas>

            <div id="textHiddenContainer">
                <p>
                    Margaux <span class="specialsChars"><i class="symbols haveToDisapear" data-content="+">+</i></span>. 25 <span class="specialsChars"><i class="symbols haveToDisapear" data-content=",">,</i></span>. Artistic director <span class="specialsChars"><i class="symbols haveToDisapear" data-content="P">P</i></span>.<br>
                    Based in Lille, France <span class="specialsChars"><i class="symbols haveToDisapear" data-content=")">)</i></span>. Creative.<br>
                    <span class="specialsChars"><i class="symbols haveToDisapear" data-content="+">+</i></span> Passionate about reflexion and<br>
                    issues around design. Write <span class="specialsChars"><i class="symbols haveToDisapear" data-content="-">-</i></span>. Love<br>
                    subversive <span class="specialsChars"><i class="symbols haveToDisapear" data-content="5">5</i></span> and sensitive design.<br>
                    Think. Creative again and again <span class="specialsChars"><i class="symbols haveToDisapear" data-content="È">È</i></span>.
                </p>
            </div>
        </div>
    </div>
</section>