<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">

        <link rel="shortcut icon" type="image/png" href="{{ asset("build/images/smile_black.4c958b7a.png") }}">

        <title>{% block title %}Margaux Passot{% endblock %}</title>

        {% block stylesheets %}{{ encore_entry_link_tags("app") }}{% endblock %}
    </head>

    <body>
        <div id="totalPageContent">
            {{ include("components/header.html.twig") }}

            <main>
                {% block body %}{% endblock %}
            </main>

            {% block footer %}{% endblock %}
        </div>

        {% block javascripts %}{{ encore_entry_script_tags("app") }}{% endblock %}
    </body>
</html>