<!DOCTYPE html>
<html lang="fr">
    <head>
        {% block analytics %}{% endblock %}

        <!------------ TITLE AND DESCRIPTION ------------>
        <title>{% block title %}Margaux Passot - {% endblock %}</title>
        <meta name="description" content="{% block description %}Margaux Passot Website{% endblock %}">
        <!------------ END TITLE AND DESCRIPTION ------------>

        <!------------ ENCODING AND VIEWPORT ------------>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="format-detection" content="telephone=no">
        <!------------ END ENCODING AND VIEWPORT ------------>

        <!------------ INDEX ------------>
        {% block index %}<meta name="robots" content="noindex, nofollow">{% endblock %}
        <!------------ END INDEX ------------>

        {% block og %}{% endblock %}

        <!------------ FAVICON ------------>
        <link rel="shortcut icon" type="image/png" href="{{ asset("build/images/fav.187e3028.png") }}">
        <!------------ END FAVICON ------------>

        <!------------ WEBPACK CSS ------------>
        {{ encore_entry_link_tags("app") }}
        {% block stylesheets %}{% endblock %}
        <!------------ END WEBPACK CSS ------------>
    </head>

    <body>
        <div id="totalPageContent">
            {% include("components/header.html.twig") only %}

            <main>
                {% block body %}{% endblock %}
            </main>

            {% block footer %}{% endblock %}
        </div>

        {% block sData %}{% endblock %}

        {{ encore_entry_script_tags("app") }}
        {% block javascripts %}{% endblock %}
    </body>
</html>