<footer>
    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
        <p>
            <a href="mailto:hello@margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsCharsFooter footerSmile"><i>&#x263A;</i></span><span> HELLO ! </span><span class="specialsCharsFamily specialsCharsFooter"><i>+</i></span> <span>(+33)6 60 55 25 22</span>
        </p>
    </div>
</footer>