<footer>
    <div>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
    </div>

    <div>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
        <p>
            <a href="mailto:hello(at)margauxpassot.com">hello(at)margauxpassot.com</a> <span class="specialsChars head">&#9786;</span> HELLO ! <span class="specialsChars hand">&#9758;</span> (+33)6 60 55 25 22
        </p>
    </div>
</footer>