<header>
    <div id="h1Container">
        <h1 id="homeReturn">{{ "Margaux " | capitalize }}{{ "Passot" | capitalize }}</h1>
    </div>

    <nav>
        <ul>
            <li><a href="#">About</a></li>
            <li><a href="https://www.instagram.com/passotmargaux/">Instagram</a></li>
        </ul>
    </nav>
</header>