<div id="slider">
    <div id="sliderContent">
        <p id="sliderProjectTitle" class="invisible">Project Title</p>

        <div id="sliderImgContainer" class="invisible">
            <div id="sliderNavLeft" class="sliderNav"></div>
            <div id="sliderNavRight" class="sliderNav"></div>
        </div>

        <div id="sliderDefault">
            <p>
                <= Choose a project ;) !
            </p>
        </div>
    </div>
</div>